<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>

<body>

    <%- include('header.ejs') %>

    <main>
       
        <h1>Matches</h1>
        <p>Jij hebt geantwoord:</p>
        <ul></ul>
        <ul></ul>
        <a class="linkButton" href="/finding">TRY AGAIN</a>

    
    </main>


    <%- include('footer.ejs') %>

</body>

</html>